.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productImg{
  height: 250px;
  width: 300px;
}
.productImg:hover{
  height: 300px;
  width: 350px;
}

.cartItem {
  width: 700px;
  height: 250px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}

.cartItem img {
  width: 200px;
  margin:20px;
}

.cartItem .description {
  width: 100%;
  font-size: 30px;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}

.checkout button {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}
@media(max-width:750px){
  .cartItem {
    width: 500px;
    font-size: 12px;
  }
}
@media(max-width:550px){
  .cartItem {
    width: 450px;
    font-size: 12px;
  }
}
@media(max-width:475px){
  .cartItem {
    width: 300px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 10px;
    padding-bottom: 10px;
  }
  .cartItem img {
    width: 200px;
    margin:auto;
    margin-top: 40px;
  }
  .cartItem .description {
    width: 100%;
    font-size: 18px;
    text-align: center;
  }
}
